<%- layout('layout') -%>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <form class="control is-pulled-right" action="/items/<%= item._id %>?_method=DELETE" method="POST">
            <button class="button is-danger is-outlined">
              <span class="icon is-small">
                <i class="fas fa-trash-alt"></i>
              </span>
              <span>Delete</span>
            </button>
          </form>
          <h1 class="title">Edit item</h1>
          <form action="/items/<%= item._id %>?_method=PUT" method="POST">
            <div class="field">
              <label class="label">Item Title</label>
              <div class="control">
                <input class="input" type="text" value="<%= item.title %>" name="item[title]">
              </div>
            </div>
            <div class="field">
              <label class="label">Description</label>
              <div class="control">
                <input class="input" type="text" value="<%= item.description %>" name="item[description]">
              </div>
            </div>        
            <div class="field">
              <label class="label">Category</label>
              <div class="select">
                <select name="category">
                  <% categories.forEach(category => {  %>
                    <option value="<%= category._id %>"><%= category.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
            <div class="field">
              <label class="label">Tags (separated with commas)</label>
              <div class="control">
                <input class="input" type="text" value="<%= item.tags.join(', ') %>" name="item[tags]">
              </div>
            </div>
            <div class="field">
              <label class="label">Content</label>
              <div class="control">
                <div id="editor"></div>
                <textarea style="display: none" name="item[content]" id="editorOutput"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button">
                  <span class="icon is-small">
                    <i class="fas fa-save"></i>
                  </span>
                  <span>Save</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <script>
    const resourceContent = <%- JSON.stringify(item.content) -%>
  </script>
  <script src="/js/pell.js"></script>
  <script src="/js/editor.js"></script>