<%- layout('layout') -%>

  <section class="section">
    <div class="container">
      <% if (search.length > 0) { %>
        <h2 class="subtitle">Here are your search results for "<%= search %>"</h2>
        <% } %>
          <% items.forEach(item => { %>
            <div class="box">
              <h1 class="title">
                <%= item.title %>
              </h1>
              <div class="content">
                <%= item.description %>
              </div>
              <a class="button is-link" href="/item/<%= item.id %>">View Resource</a>
            </div>
            <% }) %>
    </div>
  </section>