<%- layout('layout') -%>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <% include ../components/category_menu %>
                </div>
                <div class="column is-9">
                    <div class="box">
                    <p class="subtitle is-6 dfc-category-label"><%= item.category.name %></p>
                        <h4 class="title is-4">
                            <%= item.title %>
                        </h4>
                        <a class="button is-pulled-right is-small is-outlined is-grey" href="/items/<%= item._id %>/edit">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </a>
                        <div class="tags">
                            <% if (item.tags) { %>
                                <% item.tags.forEach(tag => { %>
                                    <a class="tag is-rounded is-light" href="/items?search=<%= tag %>">
                                        <%= tag %>
                                    </a>
                                    <% }) %>
                                        <% } %>
                        </div>
                        <div class="content">
                            <%- item.content -%>
                        </div>
                    </div>
                    <p class="title is-4">Related resources:</p>
                    <div class="columns is-multiline">
                        <% relatedItems.forEach(item => { %>
                            <div class="column is-half">
                                <% include ../components/item_card %>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </section>