<%- layout('layout') -%>

    <section class="section">
        <div class="container">
            <div class="box">
                <h1 class="title">
                    <%= item.title %>
                </h1>
                <div class="tags">
                    <% if (item.tags) { %>
                        <% item.tags.forEach(tag => { %>
                            <a class="tag is-rounded is-link" href="/items?search=<%= tag %>"><%= tag %></a>
                        <% }) %>
                    <% } %>
                </div>
                <div class="content">
                    <%= item.content %>
                </div>
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button" href="/items/<%= item._id %>/edit">Edit</a>
                    </p>
                    <form class="control" action="/items/<%= item._id %>?_method=DELETE" method="POST">
                        <button class="button is-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </section>