<%- layout('layout') -%>

    <section class="section">
        <div class="container">
            <div class="box">
                <h1 class="title">
                    <%= item.title %>
                </h1>
                <div class="tags">
                    <a class="tag is-rounded is-link" href="#">Low-cost</a>
                    <a class="tag is-rounded is-link" href="#">Homeless</a>
                    <a class="tag is-rounded is-link" href="#">Adolescent Issues</a>
                </div>
                <div class="content">
                    <%= item.content %>
                </div>
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button" href="/item/<%= item._id %>/edit">Edit</a>
                    </p>
                    <form class="control" action="/item/<%= item._id %>?_method=DELETE" method="POST">
                        <button class="button is-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </section>