<div class="level is-hidden-tablet">
  <button class="button is-light is-fullwidth" id="collapse-btn">
    <span id="collapse-btn-text">[ + ] Expand menu options</span>
  </button>
</div>
<aside class="menu is-hidden-mobile">
  <p class="menu-label">Categories</p>
  <ul class="menu-list">
    <% categories.forEach(entry => { %>
      <% if (entry.items.length > 0) { %>
        <% if (String(category._id) == String(entry._id)) { %>
          <li><a class="is-active" href="/categories/<%= entry._id %>"><%= entry.name %> (<%= entry.items.length %>)</a></li>
        <% } else { %>
        <li><a href="/categories/<%= entry._id %>"><%= entry.name %> (<%= entry.items.length %>)</a></li>
        <% } %>
      <% } %>
    <% }) %> 
    <% if (currentUser) { %>
      <li><a href="/categories/new">+ New category</a></li>
    <% } %>
  </ul>
</aside>

<script src="/js/menu.js"></script>