<aside class="menu">
  <% topics.forEach(topic => { %>
    <p class="menu-label"><%= topic.title %></p>
    <ul class="menu-list">
      <% topic.guides.forEach(entry => { %>
        <% if (guide._id && String(guide._id) == entry.id) { %>
          <li data-active="true" id="<%= entry.id %>"><a class="is-active" href="/guides/<%= entry.id %>"><%= entry.title %></a></li>
        <% } else { %>
          <li id="<%= entry.id %>"><a href="/guides/<%= entry.id %>"><%= entry.title %></a></li>
        <% } %>
      <% }) %>
    </ul> 
  <% }) %>
  <% if (currentUser) { %> 
    <p class="menu-label"><a class="has-text-grey" href="/topics/new">+ Add new topic</a></p>
  <% } %>
</aside>