<%- layout('layout') -%>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <% include ../components/topic_menu %>
        </div>
        <div class="column is-9">
          <% topics.forEach(topic => { %>
            <% if (topic.guides.length > 0) { %>
              <p class="title is-4"><%= topic.title %></p>
                <% topic.guides.forEach(guide => { %>
                    <div class="box">
                      <a href="/guides/<%= guide.id %>" class="has-text-dark">
                        <p class="title is-5"><%= guide.title %></p>
                        <div class="content"><%= guide.description %></div>
                      </a>
                    </div>
                <% }) %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
  </section>